{{#if isMobile}}
  <div class="tp-caption meratech-smalltext"
    id="slide-45-layer-7"
    data-x={{dataX}}
    data-hoffset="0"

    data-y="center"
    data-voffset="['-30','20','80','80']"

    data-fontsize="['18','18','18','14']"
    data-width="320"
    data-height="none"

    data-whitespace="normal"
    data-transform_idle="o:1;"

    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
    data-start="2550"
    data-splitin="none"
    data-splitout="none"
    data-responsive_offset="off"
    data-responsive="off"
    data-elementdelay="0.02"

    style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">
    <div class="text-substrate">
      {{description}}
    </div>
  </div>

{{else}}

  <div class="tp-caption meratech-smalltext"
    id="slide-45-layer-7"
    data-x={{dataX}}
    data-hoffset="['20','60','80','0']"

    data-y="center" 
    data-voffset="['-30','20','80','80']"

    data-fontsize="['18','18','18','14']"
    data-width="['auto']"
    data-height="none"

    data-whitespace="nowrap"
    data-transform_idle="o:1;"

    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
    data-start="1850"
    data-splitin="none"
    data-splitout="none"
    data-responsive_offset="off"
    data-responsive="off"
    data-elementdelay="0.02"
    style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">
    {{description_1}}
  </div>
  <div class="tp-caption meratech-smalltext"
    id="slide-45-layer-7"
    data-x={{dataX}}
    data-hoffset="['20','60','80','0']"

    data-y="middle"
    data-voffset="['-5','45','105','105']"

    data-fontsize="['18','18','18','14']"
    data-width="['auto']"
    data-height="none"

    data-whitespace="nowrap"
    data-transform_idle="o:1;"

    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
    data-start="2550"
    data-splitin="none"
    data-splitout="none"
    data-responsive_offset="off"
    data-responsive="off"
    data-elementdelay="0.02"

    style="z-index: 11; white-space: nowrap; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1);">
    {{description_2}}
  </div>
{{/if}}
