<article class="equipment-index">
  <div class="container container-after-offset-x2">
    <div class="heading heading-top">
      <div class="title">{{t "common.professional_1"}} <span>{{t "common.equipment"}}</span></div>
    </div>
    <div class="article">
    {{!-- <div class="title">{{t "index.equipment.title"}}</div> --}}
      <div class="equipment-list-inner equipment-list-inner-white row">
        {{#each equipmentCategories as |category index|}}
          {{#link-to "equipment.category" category.name class="col-md-6 col-lg-6"}}
            <div class={{category.underscore}}>
              <div class="title">{{t (concat "equipment.category." category.underscore)}}</div>
              <div class="button button-red">{{t "common.details"}}</div>
            </div>
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
</article>

<article class="get-catalog equipment-hero hero">
  <div class="container-white">
    <div class="container container-hero">
      <div class="heading heading-top"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="subarticle">
            <div class="title">{{t "common.get_catalog_hash.equipment.title"}}</div>
            <div class="body">{{t "common.get_catalog_hash.equipment.body"}}</div>
            <a href="{{host}}wp-content/uploads/2017/01/catalog_cleaning_eqiupment.pdf"><div class="button button-red">{{t "common.get_catalog"}}</div></a>
            {{#link-to "media-center"}} <div class="button button button-download">{{t "common.go_to_media_center"}}</div>{{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>