<article class="catalog-details-header">
  <img src="{{product.image}}">
  <div class="">
    <div class="container container-catalog">
      <div class="row">
        <div class="col-md-5 col-sm-5">
          <ul class="use-icons">
            {{#each product.icons as |item index|}}
              <li class="use-icon-{{item}}"></li>
            {{/each}}
          </ul>
          <div class="title">{{{title_formatted}}}</div>
          <div class="body">{{description}}</div>
          <div class="registration">{{t "catalog.evrazes"}} <b>{{product.registration_number}} </b> {{t "catalog.date_at"}} {{date}}</div>
          <div class="ph">pH <span style="color: {{product.color_code_style}}">{{ph}}</span></div>
          <!--div class="button button-transparent button-download"></div-->
        </div>
      </div>
    </div>
  </div>
  <img src="{{product.image}}">
  <div class="heading heading-bottom"><div class="title title-dark">{{t "catalog.about_product"}}</div></div>
</article>
<article class="catalog-block-about">
  <div class="container-white">
    <div class="container container-catalog">
      <div class="heading heading-bottom"></div>
      <div class="row">
        <div class="col-md-3">
          <div class="paragraph padded">
            <div class="title">{{t "catalog.usage"}}</div>
            <div class="body">{{{usage}}}
            </div>

          </div>
        </div>
        <div class="col-md-3">
          <div class="paragraph">
            <div class="title">{{t "catalog.advantages"}}</div>
            <div class="body html-content">
              {{{advantages}}}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <div class="paragraph">
            <div class="title">{{t "common.documentation"}}</div>
            <div class="documents">
              {{#if registration}}
                <a src="{{registration}}" class="registration">
                  <div class="title">{{t "catalog.documentation.reg"}}</div>
                  <div class="description">.pdf <span>(134 kB)</span></div>
                </a>
              {{/if}}
              {{#if leaflet}}
                <a src="{{leaflet}}" class="leaflet">
                  <div class="title">{{t "catalog.documentation.leaflet"}}</div>
                  <div class="description">.pdf <span>(109 kB)</span></div>
                </a>
              {{/if}}
              {{#if session.isAuthenticated}}
                {{#if prod}}
                  <a src="{{prod}}" class="pds">
                    <div class="title">{{t "catalog.documentation.pds"}}</div>
                    <div class="description">.pdf <span>(134 kB)</span></div>
                  </a>
                {{/if}}
                {{#if safed}}
                  <a src="{{safed}}" class="sds">
                    <div class="title">{{t "catalog.documentation.sds"}}</div>
                    <div class="description">.pdf <span>(109 kB)</span></div>
                  </a>
                {{/if}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="catalog-block-specs">
  <div class="container-grey">
    <div class="container container-catalog">
      <div class="heading heading-top"></div>

      <div class="row">
        <div class="col-md-3">
          <div class="paragraph padded">
            <div class="title">{{t "catalog.marking"}}</div>
            <div class="body">
              <div class="safety-signs">
                <div class="hazard hazard-c"></div>
                <div class="hazard hazard-n"></div>

                <div class="title">{{mark.name}}</div>
                <div class="body">{{t mark.translate}}</div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-5">
          <div class="paragraph padded">
            <div class="title">{{t "catalog.safety"}}</div>
            <div class="body">
              <div class="subtitle">{{t "catalog.risk_phrases"}}</div>
              <dl>
              {{#each risk_phrases as |item index|}}
                <dt>{{item.name}}</dt>
                <dd>{{t item.translate}}</dd>
              {{/each}}
              </dl>
              <div class="subtitle">{{t "catalog.safety_phrases"}}</div>
              <dl>
              {{#each safety_phrases as |item index|}}
                <dt>{{item.name}}</dt>
                <dd>{{t item.translate}}</dd>
              {{/each}}
              </dl>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="paragraph">
            <div class="title">{{t "catalog.properties"}}</div>
            <table>
              <tbody>
                <tr>
                  <td>{{t "catalog.consistency"}}</td>
                  <td>{{t consistency}}</td>
                </tr>
                <tr>
                  <td>{{t "catalog.color"}}</td>
                  <td><span class="circle" style="background-color: {{product.color_code}};"></span>{{colorName}}</td>
                </tr>
                <tr>
                  <td>{{t "catalog.density"}}</td>
                  <td>{{density}}</td>
                </tr>
                <tr>
                  <td>{{t "catalog.temperature"}}</td>
                  <td>+{{product.temp_from}}ºC .. +{{product.temp_to}}ºC</td>
                </tr>
                <tr>
                  <td>pH</td>
                  <td>{{ph}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="catalog-block-specs-dark">
  <div class="container-dark">
    <div class="container container-catalog">
      <div class="heading heading-top"></div>

      <div class="row">
        <div class="col-md-3">
          <div class="paragraph padded">
            <div class="title">{{t "catalog.precautions"}}</div>
            <div class="body">
              <div class="precaution-signs clearfix">

                {{#each product.safety as |item |}}
                  <div class="precaution {{item}}"></div>
                {{/each}}
              </div>

                {{#if breathe}}
                <div class="subtitle">{{t "catalog.breath_safety"}}:</div>
                <div class="subbody">{{{breathe}}}</div>
                {{/if}}
                {{#if hands}}
                <div class="subtitle">{{t "catalog.hands_safety"}}:</div>
                <div class="subbody">{{{hands}}}</div>
                {{/if}}
                {{#if eyes}}
                <div class="subtitle">{{t "catalog.eyes_safety"}}:</div>
                <div class="subbody">{{{eyes}}}</div>
                {{/if}}
            </div>

          </div>
        </div>
        <div class="col-md-5">
          <div class="paragraph padded">
            <div class="title">{{t "catalog.storage_info"}}</div>
            <div class="body">

              {{#if storage}}
              <div class="subtitle">{{t "catalog.storage"}}</div>
              <div class="subbody">{{{storage}}}</div>
              {{#if environment}}
              {{/if}}
              <div class="subtitle">{{t "catalog.environment"}}</div>
              <div class="subbody">{{{environment}}}</div>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="paragraph">
            <div class="title">{{t "catalog.package"}}</div>
            <div class="body">
              <div class="package">
                {{#if product.package_can}}
                <div class="package-canister">
                <span>{{product.package_can}}<u>{{t "catalog.kg"}}</u></span>
                </div>
                {{/if}}
                {{#if product.package_barrel}}
                <div class="package-barrel">
                  <span>{{product.package_barrel}}<u>{{t "catalog.kg"}}</u></span>
                </div>
                {{/if}}
                {{#if product.package_cube}}
                <div class="package-cube">
                  <span>{{product.package_cube}}<u>{{t "catalog.kg"}}</u></span>
                </div>
                {{/if}}
                {{#if product.package_sack}}
                <div class="package-sack">
                  <span>{{product.package_sack}}<u>{{t "catalog.kg"}}</u></span>
                </div>
                {{/if}}
                {{#if product.package_bucket}}
                <div class="package-bucket">
                  <span>{{product.package_bucket}}<u>{{t "catalog.kg"}}</u></span>
                </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="related related-equipment">
  <div class="container-grey">
    <div class="container container-hero">
      <div class="heading heading-top"><div class="title title-dark">{{t "catalog.related_equipment"}}</div></div>

      <div class="row">
        <div class="col-md-6 hero-item">
          <div class="article-image">
            <img src="http://localhost:4200/assets/images/equipment/satellite.png">
          </div>
          <div class="title">{{t "catalog.equipment_slogan"}}</div>
          <div class="description">Применяется для автоматической и ручной комбинированной наружной мойки и дезинфекции технологического оборудования на предприятиях птицеперерабатывающей.</div>
            <div class="button button-red button-download">{{t "common.goto_catalog"}}</div>
        </div>
        <div class="col-md-6 hero-item">
          <div class="catalog-image">
            <img src="/assets/images/media/catalog-2.png">
          </div>
          <div class="title">{{t "common.download.equipment_catalog"}}</div>
          <div class="description">Применяется для автоматической и ручной комбинированной наружной мойки и дезинфекции технологического оборудования на предприятиях птицеперерабатывающей.</div>
            <div class="button button-narrow button-download">{{t "common.download.catalog"}}</div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="get-catalog hero">
  <div class="container-white">
    <div class="container container-hero">
      <div class="heading heading-top"></div>

      <div class="row">
        <div class="col-md-4">
          <div class="subarticle">
            <div class="title">{{t "common.download.equipment_catalog"}}</div>
            <div class="body">Применяется для автоматической и ручной комбинированной наружной мойки и дезинфекции технологического оборудования на предприятиях птицеперерабатывающей.</div>
            <div class="button button-red">Смотреть каталог</div><div class="button button-transparent button-link">{{t "common.goto_mediacenter"}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>