<article class="download-page-content">
  <div class="container container-after-offset-x2">
    <div class="heading heading-top">
      <div class="title">{{t (concat "equipment.category." categoryTranslate)}}</div>
    </div>
    <div class="article">
      <div class="equipment-list-item row">
        <div class="col-md-6 col-sm-12 col-md-push-6 image-holder">
          <img src="{{model.image}}">
        </div>
        <div class="col-md-6 col-sm-12 col-md-pull-6">
          {{#if isRuLocale}}
            <div class="title">{{model.title_ru}}</div>
            <div class="body">{{{model.preview_ru}}}</div>
          {{else}}
            <div class="title">{{model.title_en}}</div>
            <div class="body">{{{model.preview_en}}}</div>
          {{/if}} 
          {{#if isFile}}
            {{#if isRuLocale}}
              <a class="download-file" target="_blank" href="{{model.file_ru}}">
                <div class="image">
                  <img src="{{model.file_image_ru}}">
                </div>
                <div class="button button-red">{{t "common.get_catalog"}}</div>
              </a>
            {{else}}
              <a class="download-file" target="_blank" href="{{model.file_en}}">
                <div class="image">
                  <img src="{{model.file_image_en}}">
                </div>
                <div class="button button-red">{{t "common.get_catalog"}}</div>
              </a>
            {{/if}} 
          {{else}}
            <div class="body">{{t "equipment.description_equipment"}}</div>
            {{#link-to "contacts"}}<div class="button button-red">{{t "equipment.button_project"}}</div>{{/link-to}}
          {{/if}} 
        </div>
      </div>
    </div>
  </div>
</article>
<article class="get-catalog equipment-hero hero-gray hero">
  <div class="container-white">
    <div class="container container-hero">
      <div class="heading heading-top"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="subarticle">
            <div class="title">{{t "common.get_catalog_hash.equipment.title"}}</div>
            <div class="body">{{t "common.get_catalog_hash.equipment.body"}}</div>
            <a href="{{host}}wp-content/uploads/2017/01/catalog_cleaning_eqiupment.pdf"><div class="button button-red">{{t "common.get_catalog"}}</div></a>
            {{#link-to "media-center"}} <div class="button button button-download">{{t "common.go_to_media_center"}}</div>{{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>