<div class="industries">
	<article class="industries-hero">
		<div class="industries-hero-image {{currentIndustry}}">
			<div class="title">{{currentIndustryTitle}}</div>
		</div>
	</article>
	{{#if catalogFile}}
	<article class="get-catalog get-catalog-thin hero">
	  <div class="container-white">
	    <div class="container container-hero">
	      <div class="heading heading-top"></div>
	      <div class="row">
	        <div class="col-md-12">
	          <div class="subarticle">
	            <div class="title">Скачать каталог для птицефабрик</div>
	            <div class="body">Программа гигиены для птицефабрик и предприятий птицеперерабатывающей промышленности. Еще текст для того, чтобы стоочково скачать этот несчастный каталог. </div>
	            <a href="{{catalogFile.file}}"><div class="button button-red">Скачать каталог</div></a>
	            {{#link-to "media-center"}} <div class="button button button-download">Перейти в медиа-центр</div>{{/link-to}}
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</article>
	{{/if}}
</div>
{{#each productsCategorized as |category index|}}
{{#if category.data.length}}
 <article>
  <div class="container-fluid catalog-heading heading-{{category.name}}">	
  </div>
  <div class="container-grey">
		<div class="container">
      <div class="heading heading-top">
      	<span class="title title-dark">{{category.translate}}</span>
      </div>
	    <div class="row">
	      <div class="col-md-12">
	        <div class="industry-list">
						{{#each category.data as |item index|}}
	        	{{#link-to "catalog.detail" item.slug}}
	        	<div class="item">
	        		<img src={{item.thumbnail}}>
	        		<div class="title">{{{item.title_formatted}}}</div>
	        		{{#if isRuLocale}}
	        			<div class="description">{{{item.description_ru}}}</div>
	        		{{else}}
	        			<div class="description">{{{item.description_en}}}</div>
	        		{{/if}}

	              <dl>
	                <dt>{{t "catalog.consistency"}}</dt>
	                <dd>{{t (concat 'catalog.' item.consistency)}}</dd>
	                <dt>{{t "catalog.color"}}</dt>
	        				{{#if isRuLocale}}
	                <dd>{{item.color_name_ru}}<span class="circle" style="background-color: {{item.color_code}};"></span></dd>
	        				{{else}}
	                <dd>{{item.color_name_en}}<span class="circle" style="background-color: {{item.color_code}};"></span></dd>
	        				{{/if}}
	                <dt>{{t "catalog.density"}}</dt>
	                <dd>{{format-number item.density}}</dd>
	                <dt>pH</dt>
	                <dd>{{format-number item.ph}}</dd>
	              </dl>
	        	</div>
	        	{{/link-to}}
						{{/each}}
		      </div>
	      </div>
	    </div>
	  </div>
  </div>
</article>
{{/if}}
{{/each}}
{{!-- <article>
  <div class="container-fluid catalog-heading heading-foam">
  	
  </div>
  <div class="container-fluid container-grey">
		<div class="container">
      <div class="heading heading-top">
      	<span class="title title-dark">внешняя мойка</span>
      </div>
	    <div class="row">
	      <div class="col-md-12">
	        <div class="catalog-list">
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
		      </div>
	      </div>
	    </div>
	  </div>
  </div>
</article><article>
  <div class="container-fluid catalog-heading heading-cip"></div>
  <div class="container-fluid container-grey">
		<div class="container">
      <div class="heading heading-top">
      	<span class="title title-dark">внешняя мойка</span>
      </div>
	    <div class="row">
	      <div class="col-md-12">
	        <div class="catalog-list">
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
		      </div>
	      </div>
	    </div>
	  </div>
  </div>
</article>
<article>
  <div class="container-fluid catalog-heading heading-additive"></div>
  <div class="container-fluid container-grey">
		<div class="container">
      <div class="heading heading-top">
      	<span class="title title-dark">внешняя мойка</span>
      </div>
	    <div class="row">
	      <div class="col-md-12">
	        <div class="catalog-list industry-catalog-list">
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
	        	{{#link-to "catalog"}}
	        	<div class="item">
	        		<img src="/assets/images/canister.png">
	        		<span class="title">Merafoam® <b>CL</b></span>
	        	</div>
	        	{{/link-to}}
		      </div>
	      </div>
	    </div>
	  </div>
  </div>
</article> --}}