<article class="news-header">
  <div class="container">
		<div class="page-title title">{{t "media_center.media_center_title"}}</div>
    <div class="body controls">
      <div class="centered-input centered-input-media">
        {{input insert-newline="search" allowedKeys="enter" value=searchField placeholder="Search by phrase" submit="search"}}
        {{#if searchQuery}}
        <div class="label">{{t "media_center.search_for"}} <span>{{searchQuery}}</span> {{t "common.in"}} <strong>{{t "media_center.media"}}</strong></div>
        {{/if}}
      </div>
    </div>
	</div>
</article>
{{#if isSearchOn}}
<article>
	<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading heading-top">
        	<span class="title title-dark">{{t "common.results"}}</span>

          {{#if listResult.length}}
					<span class="tip">{{listResult.length}} {{t "common.founded"}}</span>
          {{else}}
          <span class="tip">{{t "common.no"}} {{t "common.founded"}}</span>
          {{/if}}
        </div>
        {{#if listResult.length}}
        <ul class="documents-search row">

          {{#each listResult as |item index|}}
          <a href="{{item.link}}">
            <li class="{{item.type}} col-md-3">
              {{#if isRuLocale}}
              <div class="title">{{{item.name}}}</div>
              <div class="subtitle">{{t (concat "media_center." item.type)}}</div>
              <div class="description">.pdf <span>(~{{item.size}} {{t "common.kb"}})</span></div>
              {{else}}
              {{/if}}
            </li>
          </a>
          {{/each}}
        </ul>
        {{else}}
        <div class="page-title">{{t "common.nothing-found-alter"}}</div>
        {{/if}}
      </div>
    </div>
  </div>
</article>

<article class="container-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading heading-top">
          <span class="title title-dark">{{t "common.related-materials"}}</span>
        </div>
        <div class="media-list">
            <div class="col-md-3 item">
              <div class="image product">
                <img src="/assets/images/media/catalog-1.png">
              </div>
              <div class="category">Каталог</div>
              <div class="title">Meragel Septospray</div>
            </div>
            <div class="col-md-3 item">
              <div class="image">
                <img src="/assets/images/media/catalog-2.png">
              </div>
              <div class="category product">Каталог</div>
              <div class="title">Программа мойки поликарбонатных бутылей</div>
            </div>
            <div class="col-md-3 item">
              <div class="image video">
                <img src="/assets/images/media/video.png">
              </div>
              <div class="category clients">Видео</div>
              <div class="title">Agristeryl и программа гигиены птицефабрики</div>
            </div>
            <div class="col-md-3 item">
              <div class="image">
                <img src="/assets/images/media/catalog-1.png">
              </div>
              <div class="category company">Каталог</div>
              <div class="title">Новые номера ЕВРАЗЕС Aironit Forte</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</article>
{{else}}

<article class="container-media">
  <div class="outer-wrapper">
    <div class="inner-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-title">{{t "media_center.media_center_slogan"}}</div>
            <div class="body centered">
              {{t "media_center.media_center_instruction"}}
              <div class="media-intro">
                <div class="stage-1"></div>
                <div class="stage-2"></div>
                <div class="stage-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
{{/if}}
{{!-- <article>
    <div class="">
      <div class="container container-after-offset">
        <div class="row">
            <div class="col-md-6">
              <div class="article">
                  <div class="title">This is how we work for your success</div>
                  <div class="body">The Uber brand is more than a name. It’s a set of values, attributes, and artwork that reflects the spirit of our company.  
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="video-about-block small">{{#link-to "about" class="button"}}more about <span>meratech</span>{{/link-to}}</div>
          </div>
        </div>
      </div>
    </div>
</article> --}}
<article class="container-dark-dotted">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading heading-top">
          <span class="title title-dark-alter">последние релизы</span>
        </div>
        <div class="media-list">
            <div class="col-md-6 hero-item">
              <div class="image product">
                <img src="/assets/images/media/catalog-iso-2.png">
              </div>
              <div class="category">Каталог</div>
              <div class="title">Гигиена пивобезалкогольной промышленности</div>
              <div class="description">The Uber brand is more than a name. It’s a set of values, attributes, and artwork that reflects the spirit of our company. </div>
            </div>
            <div class="col-md-3 item">
              <div class="image">
                <img src="/assets/images/media/catalog-2.png">
              </div>
              <div class="category product">Каталог</div>
              <div class="title">Программа мойки поликарбонатных бутылей</div>
            </div>
            <div class="col-md-3 item">
              <div class="image">
                <img src="/assets/images/media/catalog-1.png">
              </div>
              <div class="category company">Каталог</div>
              <div class="title">Новые номера ЕВРАЗЕС Aironit Forte</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="container-grey">
  <div class="">
    <div class="container">
      <div class="block-title title">Stay updated</div>
      <div class="body centered">
        Get the latest news from meratech about products, events and company.
        <div class="centered-input centered-input-white">
          <input placeholder="Search by phrase">
          <button>Sign up</button>
        </div>
      </div>
    </div>
  </div>
</article>
