<article class="news-header">
  <div class="container">
		<div class="page-title title">{{t 'common.press'}}{{#if isRuLocale}}-{{else}} {{/if}}{{t 'common.center'}}</div>
		<div class="body controls">
			<div class="select-wrapper news-select-wrapper">{{t 'press_center.looking_for'}}
      <div class="dropup news-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{#if currentCategory}}{{currentCategoryTitle}}{{else}}{{t 'common.everything'}}{{/if}} 
          </a>
          <ul class="dropdown-menu clearfix">
            <li {{action 'setFilter' ''}}>{{t 'common.all'}}</li>
            <li {{action 'setFilter' 'events'}}>{{t 'press_center.events_'}}</li>
            <li {{action 'setFilter' 'products'}}>{{t 'press_center.products_'}}</li>
            <li {{action 'setFilter' 'clients'}}>{{t 'press_center.clients_'}}</li>
            <li {{action 'setFilter' 'company'}}>{{t 'press_center.company_'}}</li>
          </ul>
        </div>
			</div>
		</div>
	</div>
</article>
<article class="container-grey">
	<div class="container container-offset-top-2x">
    <div class="row">
      <div class="col-md-12">
        <div class="heading heading-top heading-black">
        	<span class="title">{{t 'common.news'}}</span>
					<span class="date">{{readableDate}}</span>
					{{#link-to "news"}}<span class="btn-archive">{{t 'common.news_archive'}}</span>{{/link-to}}
        </div>
        <div class="news-list">

        {{#if postsTrimmed }}
            {{#each postsTrimmed as |item index|}}
            {{#link-to "news.detail" item.slug}}

            <div class="col-lg-3 col-sm-6 col-xs-12 item">
              <div class="image">
                <div class="img" style="background-image: url({{item.image}})"></div>
                <span class="details">{{t 'common.details'}}</span>
              </div>
              <div class="category {{item.category}}">{{t (concat "press_center."item.category)}}</div>
              {{#if isRuLocale}}
                <div class="date">{{format-date item.date}}</div>
                <div class="title">{{item.title_ru}}</div>
                <div class="description">{{item.preview_ru}}</div>
              {{else}}
                <div class="date">{{format-date item.date}}</div>
                <div class="title">{{item.title_en}}</div>
                <div class="description">{{item.preview_en}}</div>
              {{/if}}

            </div>
            {{/link-to}}
            {{/each}}
          {{else}}
            <div class="page-title search-title">{{t "common.nothing-exist-news"}}</div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</article>
<article>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading heading-top">
          <span class="title title-dark">{{t 'common.articles'}}</span>
          {{#if articlesFull }}
            <span class="btn-archive" {{action "articlesActiveToggle"}}>{{t 'common.articles_archive'}}</span>
          {{/if}}
        </div>
        <div class="articles-list clearfix">
        {{#if articlesTrimmed }}
            {{#each articlesTrimmed as |item index|}}
            {{#link-to "articles.detail" item.slug}}

            <div class="col-md-6 item">
              <img src="{{item.image}}">
              <div class="wrapper">
                {{#if isRuLocale}}
                <div class="title">{{item.title_ru}}</div>
                <div class="divider"></div>
                <div class="body">{{item.preview_ru}}</div>
                <span class="button button-learnmore button-narrow">{{t 'common.learn_more'}}</span>
                {{else}}
                <div class="title">{{item.title_en}}</div>
                <div class="divider"></div>
                <div class="body">{{item.preview_en}}</div>
                <span class="button button-learnmore button-narrow">{{t 'common.learn_more'}}</span>
                {{/if}}
              </div>
            </div>
            {{/link-to}}
            {{/each}}
          {{else}}
            <div class="page-title search-title">{{t "common.nothing-exist-articles"}}</div>
          {{/if}}
        </div>
        <div class="articles-archive-list clearfix {{if articlesActive 'active'}}">
          {{#if articlesFull }}
            {{#each articlesFull as |item index|}}
            {{#link-to "articles.detail" item.slug}}

            <div class="col-md-6 item">
              <img src="{{item.image}}">
              <div class="wrapper">
                {{#if isRuLocale}}
                <div class="title">{{item.title_ru}}</div>
                <div class="divider"></div>
                <div class="body">{{item.preview_ru}}</div>
                <span class="button button-learnmore button-narrow">{{t 'common.learn_more'}}</span>
                {{else}}
                <div class="title">{{item.title_en}}</div>
                <div class="divider"></div>
                <div class="body">{{item.preview_en}}</div>
                <span class="button button-learnmore button-narrow">{{t 'common.learn_more'}}</span>
                {{/if}}
              </div>
            </div>
            {{/link-to}}
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</article>
<!--article class="news-header-search">
  <div class="container-fluid">
    <div class="container">
      <div class="page-title title">Пресс-центр <span class="red">поиск</span></div>
      <div class="body controls">
        <div class="centered-input centered-input-semiwhite">
          <input placeholder="Search by phrase">
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="select-wrapper">search archive for 
              <div class="dropdown news-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">everything 
                </a>
                <ul class="dropdown-menu clearfix">
                  <li>events</li>
                  <li>products</li>
                  <li>clients</li>
                  <li>company</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="select-wrapper">related to
              <div class="dropdown news-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">meat processing 
                </a>
                <ul class="dropdown-menu clearfix">
                  <li>meat processing</li>
                  <li>cow breeding</li>
                  <li>pig farms</li>
                  <li>poultry</li>
                  <li>milk processing</li>
                  <li>brewery and beverages</li>
                  <li>laundry</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="select-wrapper">from year
              <div class="dropdown news-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2014 
                </a>
                <ul class="dropdown-menu clearfix">
                  <li>2016</li>
                  <li>2015</li>
                  <li>2014</li>
                  <li>2013</li>
                  <li>2012</li>
                  <li>2011</li>
                  <li>2010</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article-->
<article class="container-grey">
  <div class="">
    <div class="container">
      <div class="block-title title">{{t 'common.stay_updated'}}</div>
      <div class="body centered">
        {{t 'common.stay_updated_text'}}
        <div class="centered-input centered-input-white">
          <input placeholder="{{t 'common.email'}}">
          <button>{{t 'common.sign_up'}}</button>
        </div>
      </div>
    </div>
  </div>
</article>
